.area-cliente {
    display: flex;
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    font-size: 20px;
    text-align: center;
    letter-spacing: 0.1rem;
    margin-bottom: 5px;
    margin-left: 30px;
    margin-right: 280px;
    padding: 100px;
}

.sidebar {
    width: 150PX; /* Ajuste conforme necessário */
    font-family: 'Poppins', sans-serif;
    background-color: #f4f4f4;
    padding: 20px;
    height: 460px;
    line-height: 2.0;
}

.content {
    flex-grow: 1;
    padding: 10px;
    text-align: left;
    margin-left: 15px;
}

.alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}

.alert-success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}

