{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <h1 class="titulo"> Sobre Nós </h1><br><br>
        <h3 class="titulos"> Santa Barba, Inovação e Qualidade.</h3>
        <br>
        <p class="container">Fundada em 2023, a Santa Barba é uma barbearia localizada na zona Leste de Caxias do Sul, no bairro Petrópolis. </p>
        <p class="container">Combinando o clássico e o contemporâneo, a proposta da Santa Barba é oferecer aos clientes uma experiência exclusiva, 
            transformando o momento de cortar o cabelo ou fazer a barba em um evento de bem-estar e cuidado pessoal.</p>
            
        <h3 class="titulos"> Nossa História</h3>
        <br>        
            <p class="container"><strong>Origens Jovens:</strong> A Santa Barba surgiu do sonho de dois jovens barbeiros apaixonados pela arte de cortar cabelo. 
                Unindo suas experiências e visões inovadoras, criaram um espaço que reflete tradição e modernidade.</p><br>
            <p class="container"><strong>Ambiente Acolhedor:</strong> Aqui, você encontrará um ambiente único e acolhedor, onde cada corte e barba são realizados com
                dedicação e excelência. Valorizamos a qualidade e o atendimento personalizado.</p><br>
            <p class="container"><strong>Preço Justo:</strong> Acreditamos que todos merecem cuidados de qualidade sem comprometer o bolso. 
                Por isso, oferecemos serviços a preços acessíveis, mantendo a excelência.</p>
    </div>
{% endblock %}