{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <h1> Sobre Nós </h1><br><br>
        <h3> Santa Barba, Inovação e Qualidade.</h3>
        <br>
        <p>Fundada em 2023, a Santa Barba é uma barbearia localizada na zona Leste de Caxias do Sul, no bairro Petrópolis. </p>
        <br><p>Combinando o clássico e o contemporâneo, a proposta da Santa Barba é oferecer aos clientes uma experiência exclusiva, 
            transformando o momento de cortar o cabelo ou fazer a barba em um evento de bem-estar e cuidado pessoal.</p>
            
        <h2> Nossa História</h2>
        <br><br>        
            <p>Origens Jovens: A Santa Barba surgiu do sonho de dois jovens barbeiros apaixonados pela arte de cortar cabelo. 
                Unindo suas experiências e visões inovadoras, criaram um espaço que reflete tradição e modernidade.</p><br>
            <p>Ambiente Acolhedor: Aqui, você encontrará um ambiente único e acolhedor, onde cada corte e barba são realizados com
                dedicação e excelência. Valorizamos a qualidade e o atendimento personalizado.</p><br>
            <p>Preço Justo**: Acreditamos que todos merecem cuidados de qualidade sem comprometer o bolso. 
                Por isso, oferecemos serviços a preços acessíveis, mantendo a excelência.</p>
    </div>
{% endblock %}