{% load static %}

<nav class="navbar navbar-expand-lg navbar-light opacity-75" style="background-color: #0A0745;">
    <div class="container-fluid">
        <img src="{% static 'image\logo.jpg' %}" alt="" width="60" height="60" class="d-inline-block align-text-top">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse d-flex justify-content-around" id="navbarNav">
            <div class="navbar-nav">
                <a class="nav-link active" aria-current="page" href="{% url 'home' %}"style="color: white;">Home</a>
                <a class="nav-link" href="{% url 'sobre' %}" style="color: white;">Sobre Nós</a>
                <a class="nav-link" href="{% url 'servicos' %}" style="color: white;">Serviços</a>
                <a class="nav-link" href="{% url 'profissionais' %}" style="color: white;">Nossos Profissionais</a>
                <a class="nav-link" href="#" style="color: white;">Login</a>
            </div>
        </div>
    </div>
</nav>